<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zig.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8771D3DE1C87D591004F8C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8771D3F71C87D591004F8C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8771D4021C87D591004F8C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
